@import "fonts.css";

.program-grid-container {
  display: grid;
  grid-gap: 26px 31px;
  grid-template-columns: 302px 302px 302px 302px;
  padding: 10px;
  justify-content: center;
}
.program-grid-item {
  background-color: #ACE6A4;
  padding: 20px;
  font-size: 30px;
  font-family: 'proxima_nova_rgregular';
  height: 489px;
  list-style-type: none;
  overflow-y: scroll;
  overflow-x: hidden;

}

.course-input-bar {
  width: 798px;
  margin: 113px auto;
  height: 48px;
}

.query-input-form {
  overflow: -webkit-paged-y;
}
