@import "fonts.css";

.react-tagsinput {
  /* background-color: #fff; */
  /* border: 1px solid #ccc; */
  padding-left: 5px;
  padding-top: 5px;
}

.react-tagsinput--focused {
  border-color: #a5d24a;
}

.react-tagsinput-tag {
  background-color: #B9D1CB;
  border-radius: 6px;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  margin-right: 5px;
  height: 30px;
  width: 96px;
  padding-left: 9px;
  padding-top: 10px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
  color: white;
  margin-left: 11px;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  border-radius: 35px;
  border-color: #0C2859;
  border-style: solid;
  color: #777;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding-left: 25px;
  width: 98%;
  height: 48px;
}
